<header class="header">
    <h1 class="header-heading">
        <a href="{% url "contact:index" %}" class="header-link">
            Agenda
        </a>
        
    </h1>
    #MENU
<nav class="menu">
    <ul class="menu-list">
        <li class="menu-item">
            {% comment %} com o url do django você redireciona mais facil pra url que vc quer {% endcomment %}
            <a href="{% url "contact:create" %}" class="menu-link">
                Create
            </a>

        </li>
        <li class="menu-item">
            <a href="{% url "contact:create" %}" class="menu-link">
                LINK 2
            </a>

        </li>
    </ul> 
</nav>

<div class="search">
    <form action="{% url "contact:search" %}"
     method="GET"
     >
        <input type="text" 
        class="search-input" 
        placeholder="Search..." 
        id = 'Search'
        name = q
        value = "{{request.GET.q.strip}}"
        {% comment %} autocomplete para parar de dar sugestões {% endcomment %}
        autocomplete ="off"
        >
        
            
    </form>
</div>

</header>